
gymnasium==1.2.0
# required by the LunarLander-v3 environment: box2d, cv2
# 1. Box2D
gymnasium[box2d]
# 2. Other: opencv-python, decorator, matplotlib, moviepy, pandas, proglog,
#           python-dotenv, pytz, seaborn, tzdata
gymnasium[other]
huggingface_hub==0.33.2
imageio==2.37.0
mypy==1.14.1
numpy==2.2.6
pickle5==0.0.11
# required by gymnasium
pre-commit==4.0.1pygame==2.6.1
# required by gymnasium[box2d]
swig==4.3.1
torch==2.7.0
tqdm>=4.66.5
